---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/branches?page=1&per_page=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0ed0104687e99cac131def4e4c6d70553a5d972d8c0cdc70d8c72c2eb3adb95c"
      Github-Authentication-Token-Expiration:
      - '2025-08-10 00:00:00 +0530'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/8514/branches?page=2&per_page=30>; rel="next",
        <https://api.github.com/repositories/8514/branches?page=3&per_page=30>; rel="last"
      X-Accepted-Github-Permissions:
      - contents=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1729976153'
      X-Ratelimit-Used:
      - '9'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"0-5-stable","commit":{"sha":"7b7799aec70f1b31db9fcc389b26ae61ef44d9bc","url":"https://api.github.com/repos/rails/rails/commits/7b7799aec70f1b31db9fcc389b26ae61ef44d9bc"},"protected":true},{"name":"0-6-stable","commit":{"sha":"11665ed67989e2ebb4ef38fa0781514a649b7ef2","url":"https://api.github.com/repos/rails/rails/commits/11665ed67989e2ebb4ef38fa0781514a649b7ef2"},"protected":true},{"name":"0-7-stable","commit":{"sha":"3cd56dccf840c97059e242ab616c13a84393a24c","url":"https://api.github.com/repos/rails/rails/commits/3cd56dccf840c97059e242ab616c13a84393a24c"},"protected":true},{"name":"0-8-stable","commit":{"sha":"fbf913fafea1072cb15c0a635b276dab5dfefe63","url":"https://api.g[...]
