---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/octocat/Hello-World/branches?page=1&per_page=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9e88b6c02a76791856e8d3ba41153e867f2b48d93acdb4d1052cdd103ea2293"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Reset:
      - '1726765742'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"master","commit":{"sha":"7fd1a60b01f91b314f59955a4e4d4e80d8edf11d","url":"https://api.github.com/repos/octocat/Hello-World/commits/7fd1a60b01f91b314f59955a4e4d4e80d8edf11d"},"protected":false},{"name":"octocat-patch-1","commit":{"sha":"b1b3f9723831141a31a1a7252a213e216ea76e56","url":"https://api.github.com/repos/octocat/Hello-World/commits/b1b3f9723831141a31a1a7252a213e216ea76e56"},"protected":false},{"name":"test","commit":{"sha":"b3cbd5bbd7e81436d2eee04537ea2b4c0cad4cdf","url":"https://api.github.com/repos/octocat/Hello-World/commits/b3cbd5bbd7e81436d2eee04537ea2b4c0cad4cdf"},"protected":false}]'
  recorded_at: Thu, 19 Sep 2024 16:36:09 GMT
recorded_with: VCR 6.2.0
