---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/commits?page=1&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9b69dbcfd4b1cce3aba0ed89e7fedbf1745a41d1947c7bd2cf5becfcb8c32d3"
      Last-Modified:
      - Thu, 19 Sep 2024 09:12:58 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/8514/commits?page=2&per_page=2>; rel="next",
        <https://api.github.com/repositories/8514/commits?page=46449&per_page=2>;
        rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '1'
      X-Ratelimit-Reset:
      - '1726765742'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"dfd1e951aa1aeef06c39fffb2994db8a8fa1914f","node_id":"C_kwDNIULaAChkZmQxZTk1MWFhMWFlZWYwNmMzOWZmZmIyOTk0ZGI4YThmYTE5MTRm","commit":{"author":{"name":"Xavier
        Noria","email":"fxn@hashref.com","date":"2024-09-19T09:10:09Z"},"committer":{"name":"Xavier
        Noria","email":"fxn@hashref.com","date":"2024-09-19T09:12:58Z"},"message":"Reorder
        i18n hooks and reword comments\n\nIf eager loading is enabled, `before_eager_load`
        runs\nbefore `after_initialize`. I believe it is natural to\ndefine these
        hooks matching that order.\n\nFor this to make sense, it is important to highlight\nthat
        initialize_i18n is idempotent.","tree":{"sha":"39f7a4322c901f93f9f88818b01072f9ad6db820","url":"https://api.github.com/repos/rails/rails/git/trees/39f7a4322c901f93f9f88818b01072f9ad6db820"},"url":"https://api.github.com/repos/rails/rails/git/commits/dfd1e951aa1aeef06c39fffb2994db8a8fa1914f","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/rails/rails/commits/dfd1e951aa1aeef06c39fffb2994db8a8fa1914f","html_url":"https://github.com/rails/rails/commit/dfd1e951aa1aeef06c39fffb2994db8a8fa1914f","comments_url":"https://api.github.com/repos/rails/rails/commits/dfd1e951aa1aeef06c39fffb2994db8a8fa1914f/comments","author":{"login":"fxn","id":3387,"node_id":"MDQ6VXNlcjMzODc=","avatar_url":"https://avatars.githubusercontent.com/u/3387?v=4","gravatar_id":"","url":"https://api.github.com/users/fxn","html_url":"https://github.com/fxn","followers_url":"https://api.github.com/users/fxn/followers","following_url":"https://api.github.com/users/fxn/following{/other_user}","gists_url":"https://api.github.com/users/fxn/gists{/gist_id}","starred_url":"https://api.github.com/users/fxn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/fxn/subscriptions","organizations_url":"https://api.github.com/users/fxn/orgs","repos_url":"https://api.github.com/users/fxn/repos","events_url":"https://api.github.com/users/fxn/events{/privacy}","received_events_url":"https://api.github.com/users/fxn/received_events","type":"User","site_admin":false},"committer":{"login":"fxn","id":3387,"node_id":"MDQ6VXNlcjMzODc=","avatar_url":"https://avatars.githubusercontent.com/u/3387?v=4","gravatar_id":"","url":"https://api.github.com/users/fxn","html_url":"https://github.com/fxn","followers_url":"https://api.github.com/users/fxn/followers","following_url":"https://api.github.com/users/fxn/following{/other_user}","gists_url":"https://api.github.com/users/fxn/gists{/gist_id}","starred_url":"https://api.github.com/users/fxn/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/fxn/subscriptions","organizations_url":"https://api.github.com/users/fxn/orgs","repos_url":"https://api.github.com/users/fxn/repos","events_url":"https://api.github.com/users/fxn/events{/privacy}","received_events_url":"https://api.github.com/users/fxn/received_events","type":"User","site_admin":false},"parents":[{"sha":"219e75354b516af0144035a49abcbfa6a380a2f2","url":"https://api.github.com/repos/rails/rails/commits/219e75354b516af0144035a49abcbfa6a380a2f2","html_url":"https://github.com/rails/rails/commit/219e75354b516af0144035a49abcbfa6a380a2f2"}]},{"sha":"219e75354b516af0144035a49abcbfa6a380a2f2","node_id":"C_kwDNIULaACgyMTllNzUzNTRiNTE2YWYwMTQ0MDM1YTQ5YWJjYmZhNmEzODBhMmYy","commit":{"author":{"name":"John
        Hawthorn","email":"john@hawthorn.email","date":"2024-09-19T05:57:26Z"},"committer":{"n[...]
